<% if notice != nil %>
    <div class="flash">
        <p class="notice"><%= notice %></p>
    </div>
<% end %>
<% if alert != nil %>
    <div class="flashError">
        <p class="alert"><%= alert %></p>            
    </div>
<% end %>